@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body
{
    padding: 0px;
    margin: 0px;
}

#navigationBar
{
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.navigationBar a{
    font-size: larger;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
    transition: 0.9s ease;
}
.navigationBar a:hover{
    transform: scale(1.1);
    color: white;
}
.CV button
{
    all: unset;
    text-align: center;
    border-color: rgb(48, 48, 136);
    color:whitesmoke;
    background-color: rgb(48, 48, 136);
    min-width: 10%;
    min-height: 5%;
    z-index: 100;
    position: absolute;
    right: 6%;
    top: 3.5%;
    border-radius: 100px / 100px;
    opacity: 0.9;
}

.CV button:hover
{
    opacity: 1;
}
#HomePage
{
    width: 100%;
    min-height: 100vh;
    background:url("Home.jpg") no-repeat;
    background-size:cover;
    position: relative;
    display: flex;
}

.NameJob
{
    margin: 1px 10px;
}

.Bio
{
    margin: 1px 20px;
    font-size: 15px;
}

#Intro
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 35px;
    color: whitesmoke;   
    width: 40%;
    position: absolute;
    top:30%;
}

.Buttons
{   
    color: whitesmoke;
    font-weight: 600;
    margin: 10px;
    background: none;
    border: none;
}


.DutchImg
{
    background: url("Dutch.png");
    background-size: cover;
    position: absolute;
    right: 5%;
    width: 50%;
    bottom: 0;
    height: 90%;
}


.Page
{
    padding-top: 6%;
    padding-bottom: 0% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    gap: 1px;
}

.Cards
{   
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-direction: row;
    flex-wrap: wrap;
}
.Description
{
    font-size: 35px; 
    margin: 1px;
}

.S
{  
    color:#3e3ebc;
    background-color: rgb(250, 248, 248);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 350px;
    width: 350px;
    transition: 0.7s ease;
}

.S:hover
{   
    background-color:#3e3ebc;
    color: white;
    transform:scale(1.05);
}


.title
{
    margin: 1px;
    display: flex;
    color: rgb(48, 48, 136);
    /* margin: 25px; */
    justify-content: center;
    font-size: 35px;
}

#ServPar
{
    margin: 1px;
    margin-bottom: 30px;
}

.PortfolioClass
{
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background:url("Portfolio.jpg") no-repeat;
    background-size:cover;
    position: relative;
}
.PortfolioClass .title{
    color: #5d5cdc;
}
.div55
{
    color: whitesmoke;
    font-size: 35px;
}
.PortfolioClass .Projects
{

    display: flex;
    justify-content: center;
    gap: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    /* min-height: 80vh; */
}

.Project-card{
    border-radius: 4px;
    min-height: 8em;
    width: 15em;
    margin: 2px;
    transition: 0.7s ease;
    background-color:rgb(250, 248, 248);
    overflow: hidden;
}
.Project-card:hover{
    transform:scale(0.98);
    box-shadow: 0 0 15px  rgb(133, 133, 193);
}

.Project-image img{
    width:100% ;
}
.Project-card:hover .Project-image{
    opacity: 0.92;
}

.Project-info{
    padding: 1em;
}
.Project-description{
    font-size: 0.9em;
    color: black;
}
.Project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 500;
}

.bttn{
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    gap:120px;
    margin-top: 20px;
}
.btn
{
text-align: center;
border-radius: 5px / 5px;
border-color: #3e3ebc;
font-size: 20px;
background-color: white;
transition: 0.8s ease;
}
.btn:hover{
    color: white;
    background-color: #3e3ebc;
    font-size: larger;
    transform:scale(1.05);
    
}

.Contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width: 100%;
    min-height: 92vh;
    position: relative;
}
.footer{
        
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid  #3e3ebc;
    width: 100%;
    background-color: #3e3ebc;
    position: absolute;
    bottom: 0%;
}
.footer p
{
    color: whitesmoke;
}

.col-md-6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.col-md-7{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    gap: 20px;
    position: relative;
    bottom: 8px;
}
.fab{
    font-size: 20px;
    color: antiquewhite;
}
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}
.Contact .title{
    margin-bottom: 50px;
    position: absolute;
    top:80px;
}
.fas{
    color:#5d5cdc;
}
.S:hover >i  {
    transition: 0.7s ease;
    color: white !important; 
}
.Contact .S{
    height: 240px;
    width: 270px;
    margin-bottom: 50px;
}
.a-contact{
    font-size: larger;
}



.people
{ 
    color:#3e3ebc;
    background-color: rgb(250, 248, 248);
    display: flex;   
    border-radius: 20px;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: center;
    height: 30vh;
    width: 40vh;
    transition: 0.7s ease;
}

.rate
{
    color: rgb(254, 195, 0);
    position: relative;
    right: 10vh;
    bottom:-1vh;
}

.personName
{
    color: black;
    font-weight: 500;
    position: relative;
    margin: 0px;
}
.jobTitle
{
    color: darkgray;
    font-weight: 400;
    position: relative;
    margin: 0px;
    bottom:5vh;
}
.detailsII
{
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    bottom: 3vh;
    left: 11vh;
    gap: 0vh;
}



.personPic
{

    position: relative;
    right: 14vh;
    top:5vh;
    display: inline;
    height: 8vh;
    width: 8vh;
    object-fit: cover;
    border-radius: 50%;
}


.opinion
{   
    color: black;
    margin: 1vh;
    font-size: 2vh;
    text-align: left;
    position: relative;
    top:2vh;
    left:1vh;
}
@media screen and (max-width:1323px )
{
    .detailsII
    {
        gap:1px;
        bottom: 23px;
    }
    .NameJob{
        font-size: 40px;
    } 
    .col-md-6{
        font-size: 16px; 
     }
}
@media screen and (max-width:1023px ) {
    .detailsII
    {
        bottom: 20px;
        gap: 15px;
    }
    #navigationBar{
        padding: 12px 10px;
        gap: 20px;
    }
    .title{
        font-size: 30px;
    }
    .DutchImg{
        display: none;
    }
    .CV button{
        /* display: none; */
        /* margin-top: 30px; */
        top: 20%;
        left: 50%;
        transform:translate(-50%,0) ;
        font-size: 15px;
        
    }
    .NameJob{
        font-size: 30px;
    }
    .bttn{
        gap:100px ;
    }
   .Description{
    font-size: 30px;
   }
   .personName{
    font-size: 15px;
   }
   .col-md-6{
    font-size: 14px; 
    }
}
@media screen and (max-width:800px ){
    .detailsII
    {
        gap: 10px;
    }
    .bttn{
        gap:40px ;
    }
    .btn{
        font-size: 15px;
    }
    .div55{
        font-size: 25px;
    }
    .Project-card{
        min-height: 6em;
        width: 10em;
    }
    .Description{
        font-size: 28px;
    }
    .personName{
        font-size: 14px;
        font-weight: 600;
    }
    .jobTitle{
        font-size: 15px;
    }
    .Contact .S{
        height: 200px;
        width: 250px;
        font-size:14px ;
    }
    .col-md-6{
        font-size: 12px;
    }
}
@media screen and (max-width:590px ){
    .detailsII
    {
        gap: 1px;
    }
    .NameJob{
        font-size: 17px;
        padding: 2px;
        width: 100%;
    } 
    .Bio{
        font-size: 10px;
        width: 100%;
    }
    .Project-card{
        min-height: 1.5em;
        width: 10em;
    }
    .Project-description{
        font-size: 10px;
    }
    .Project-title{
        font-size: 15px;
    }
    .Project-link{
        font-size: 20px;
    }
    .Description{
        font-size: 25px;
       }
    .navigationBar{
        padding: 10px 8px;
        gap: 15px;
    }
    .personPic{
        height: 7vh;
         width: 7vh;
    }
    .content{
        gap: 30px;  
    }
    .Contact .S{
        height: 180px;
        width: 220px;
        font-size:12px ;
    }
    .col-md-6{
        font-size: 10px;
    }
}
@media screen and (max-width:500px ){
    .detailsII
    {
        position: relative;
        bottom: 13px;
        gap: 7px;
    }
.Project-card{
    min-height: 1em;
    width: 7.5em;
}
.Project-description{
    font-size: 8px;
}
.Project-title{
    font-size: 10px;
}
.Project-link{
    font-size: 18.5px;
}
.navigationBar a{
    padding: 0px;
    font-size: 16px;
    padding: 10px;
    font-weight: 300;
}
.title{
    font-size: 25px;
}
#navigationBar{
    gap: 0px;
}
.bttn{
    gap:30px ;
}
.content{
    gap: 15px;  
}
.Contact .S{
    height: 160px;
    width: 180px;
    font-size:11px ;
}
}
@media screen and (max-width:400px ){
    .detailsII
    {
        gap: 2px;
    }
    .HomePage{
        flex-direction: column;
        align-items: center;
    }
    .NameJob{
       padding: 1px 10px;

    } 
    .navigationBar a{
        padding: 8px 6px;
        font-size: 13px;
        padding: 10px;
        font-weight: 300;
    }
    .S{
        height: 200px;
        width: 200px;
        padding: 28px;
    }
    #fass{
        font-size: 50px;
    }
    #des2{
        font-size: 10px;
    }
    #des1{
        font-size: 17px;
    }
    .bttn{
        gap:18px ;
    }
    .btn{
        font-size: 12px;
    }
    .div55{
        font-size: 20px;
    }
    .Project-card{
        min-height: 1em;
        width: 5em;
    }
    .Project-description{
        font-size: 7px;
    }
    .Project-title{
        font-size: 8px;
    }
    .Project-link{
        font-size: 10px;
    }
    .Description{
        font-size: 20px;
    }
    .ServPar{
        font-size: 10px;
    }
    .content{
        flex-direction: column;
        align-items: center;
        gap:1px ;
    }
    .Contact .S{
        height: 150px;
        width: 200px;
        font-size:10px ;
    }
    #C1{
        margin-bottom: 15px;
    }
    .Contact .title{
        margin-bottom: 50px;
        position: absolute;
        top:40px;
    }
    .col-md-6{
        font-size: 10px; 
    }
}
